/* 
    GENERAL 
*/
img {
    width: 100%;
}

/* 
    HEADER 
*/
header {
    background-color: #F8F9FA;

    width: 100%;
    height: 70px;

}

.form-control:focus {
    box-shadow: none;
}

.my-hidden-img {
    width: 50px;
}

/* bell-header */
.btn.btn-secondary.btn-sm.dropdown-toggle {
    background-color: white;
    color: black;
    border: none;
}

header nav.d-flex {
    background-color: white;
}

/* 
    MAIN 
*/

/* ASIDE */
aside {
    height: calc(100vh - 70px);
    background-image: url("../img/sidebar-bg.png");
    background-color: #12293F;
    color: white;
}

aside nav {
    height: 100%;
}

/* SEZIONE PRINCIPALE */
.my-main {
    height: calc(100vh - 70px);
    overflow-y: auto;
}

/* HEADER-SEZIONE PRINCIPALE */
.my-header-main {
    background-color: #1B72E8;
    color: white;

}

.my-badge {
    background-color: #165BBA;
}

/* MY-MAIN */
.my-code-icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    background-color: orangered;
    padding: 3px;
}


/* 
    FOOTER 
*/